@model IEnumerable<HostingHistoryListViewModel>

@{
}

<table class="table table-striped" id="historyListTable">
    <thead>
        <tr>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Fecha Final</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (HostingHistoryListViewModel history in Model)
        {
            <tr>
                <td>@history.StartDate.ToString("dd/MM/yyyy hh:mm tt")</td>
                <td>
                    @if(history.EndDate.HasValue){
                        <span>@history.EndDate.Value.ToString("dd/MM/yyyy hh:mm tt")</span>
                    }
                    else{
                        <span>Fecha sin definir</span>
                    }
                </td>
                <td class="text-end">
                    @if(!history.EndDate.HasValue){
                        <button class="btn btn-outline-primary" name="defineEndDateHistory" data-id="@history.Id" title="Definir fecha de salida"><i data-feather="calendar"></i></button>
                    }
                    <button class="btn btn-danger" name="removeHistory" data-id="@history.Id">X</button>
                </td>
            </tr>
        }
    </tbody>
</table>