<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CasaRM-WebApp</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/app.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="wrapper">
        <partial name="~/Views/Shared/_SidebarPartial.cshtml" />

        <div class="main">
            <partial name="~/Views/Shared/_NavbarPartial.cshtml" />

            <main class="content">
                <div class="container-fluid p-0">
                    @RenderBody()
                </div>
            </main>

            <partial name="~/Views/Shared/_FooterPartial.cshtml" />
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
