
@{
    ViewData["Title"] = "Reportes";
}

<h1 class="h1 mb-3"><strong>Sistema</strong> Reportes</h1>

<a href="@Url.Action("Demo", "Home", new { Area = "Reports" })" class="btn btn-primary">Demo (Datos Personas menores)</a>