@model List<ContributionListViewModel>

@{
}

<table class="table table-striped" id="contributionListTable">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Parentesco</th>
            <th scope="col">Ocupación</th>
            <th scope="col">Aporte mensual</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ContributionListViewModel constribution in Model)
        {
            <tr>
                <td>@constribution.FullName</td>
                <td>@constribution.Relationship</td>
                <td>@constribution.Ocupation</td>
                <td>@constribution.MonthlyContribution</td>
                <td class="text-end"><button class="btn btn-danger" name="deleteRow" data-type="contribution">X</button></td>
            </tr>
        }
    </tbody>
</table>
