@model HostManagmentViewModel

@{
    ViewData["Title"] = "Administración";
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Estudio Social</h5>
                    </div>

                    <div class="col-auto">
                        <div class="stat text-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign align-middle"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                        </div>
                    </div>
                </div>
                <h1 class="mt-1 mb-3">Formulario de estudio social</h1>
                <div class="mb-0">
                    <span class="text-muted"><a href="@Url.Action("Manage", "SocialStudy", new { host = Model.HostId, area = "Hosts" })">Ir al formulario</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
