@model HostManagmentViewModel

@{
    ViewData["Title"] = "Administración";
}

<h1 class="h1 mb-3"><strong>Huéspedes</strong> Administración</h1>

@if(Model.WasManaged){
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="alert-message">
            ¡El formulario ha sido guardado con éxito!
        </div>
    </div>
}

<div class="my-3">
    <strong>Código de registro del huésped: </strong> <span>@Model.HostId</span>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Estudio Social</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Formulario de Estudio Social</p>
                <a href="@Url.Action("Manage", "SocialStudy", new { host = Model.HostId, area = "Hosts" })" class="btn btn-primary">Ir al formulario</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Registro de hospedaje</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Formulario de Registro de Hospedaje</p>
                <a href="#" class="btn btn-primary">Ir al registro</a>
            </div>
        </div>
    </div>
</div>
