@model HostManagmentViewModel

@{
    ViewData["Title"] = "Administración";
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Estudio Social</h5>
                    </div>

                    <div class="col-auto">
                        <div class="stat text-primary">
                            
                        </div>
                    </div>
                </div>
                <h1 class="mt-1 mb-3">Formulario de estudio social</h1>
                <div class="mb-0">
                    <span class="text-muted"><a href="@Url.Action("Manage", "SocialStudy", new { host = Model.HostId, area = "Hosts" })">Ir al formulario</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Registro de hospedaje</h5>
                    </div>

                    <div class="col-auto">
                        <div class="stat text-primary">
                        </div>
                    </div>
                </div>
                <h1 class="mt-1 mb-3">Registro de hospedaje</h1>
                <div class="mb-0">
                    <span class="text-muted"><a href="#">Ir al registro</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
