@{
    ViewData["Title"] = "Nuevo Ingreso";
}

<h1 class="h1 mb-3"><strong>Huéspedes</strong> Nuevo Ingreso</h1>

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">1. Datos de la Persona Menor de Edad</h5>
    </div>

    <div class="card-body">
        d
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">2. Datos de la madre, padre o encargado/a</h5>
    </div>

    <div class="card-body">
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">3. Datos del Acompañante del Menor de Edad</h5>
    </div>

    <div class="card-body">
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">4. Composición del grupo familiar</h5>
    </div>

    <div class="card-body">
    </div>

    <div class="card-header">
        <h5 class="card-title mb-0">4.1. Aportes de personas que no viven en la misma casa</h5>
    </div>

    <div class="card-body">
    </div>

    <div class="card-header">
        <h5 class="card-title mb-0">4.2. Calculo ingreso según línea de pobreza</h5>
    </div>

    <div class="card-body">
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">5. Situación Habitacional</h5>
    </div>

    <div class="card-body">
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">6. Redes de Apoyo</h5>
    </div>

    <div class="card-body">
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">7. Recomendaciones</h5>
    </div>

    <div class="card-body">
    </div>
</div>