@model CreateOrUpdateSocialStudyViewModel

@{
    ViewData["Title"] = "Administrar estudio social";
}

<h1 class="h1 mb-3">
    <strong>Huéspedes</strong>
    @if(string.IsNullOrEmpty(Model.HostId)){
        <span>Nuevo Ingreso</span>
    }else{
        <span>Editar formulario</span>
    }
</h1>

<form id="mainDataForm">
    <input asp-for="HostId" hidden />
    <input asp-for="SocialStudyId" hidden />
</form>

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">1. Datos de la Persona Menor de Edad</h5>
    </div>

    <div class="card-body">
        <partial name="~/Areas/Hosts/Views/SocialStudy/Partials/_MinorPersonDataForm.cshtml" model="Model.MinorPersonDataFormViewModel" />
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">2. Datos de la madre, padre o encargado/a</h5>
    </div>

    <div class="card-body">
        <partial name="~/Areas/Hosts/Views/SocialStudy/Partials/_ParentDataForm.cshtml" model="Model.ParentDataFormViewModel" />
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">3. Datos del Acompañante del Menor de Edad</h5>
    </div>

    <div class="card-body">
        <partial name="~/Areas/Hosts/Views/SocialStudy/Partials/_CompanionDataForm.cshtml" model="Model.CompanionDataFormViewModel" />
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">4. Composición del grupo familiar</h5>
    </div>

    <div class="card-body">
        <div class="alert alert-warning alert-outline alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-icon">
                <i data-feather="info"></i>
            </div>
            <div class="alert-message">
                Deberá incluir la información concerniente a todas las personas que residen bajo el mismo techo
            </div>
        </div>

        <div class="mb-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#familyGroupFormModal">
                Añadir registro
            </button>
        </div>

        <!-- Family Group Form Modal -->
        <div class="modal fade" id="familyGroupFormModal" tabindex="-1" aria-labelledby="familyGroupForm" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Añadir registro - Grupo de familia</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <partial name="~/Areas/Hosts/Views/SocialStudy/Partials/_FamilyGroupForm.cshtml" model="Model.FamilyGroupFormViewModel" />
                    </div>
                </div>
            </div>
        </div>

        <partial name="~/Areas/Hosts/Views/SocialStudy/Partials/_FamilyGroupList.cshtml" model="Model.FamilyGroupListViewModel" />
    </div>

    <div class="card-header">
        <h5 class="card-title mb-0">4.1. Aportes de personas que no viven en la misma casa</h5>
    </div>

    <div class="card-body">
        <div class="alert alert-warning alert-outline alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-icon">
                <i data-feather="info"></i>
            </div>
            <div class="alert-message">
                Deberá incluir la información concerniente a los aportes de las personas que no residen bajo el mismo techo
            </div>
        </div>

        <div class="mb-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contributionFormModal">
                Añadir registro
            </button>
        </div>

        <!-- Contribution Form Modal -->
        <div class="modal fade" id="contributionFormModal" tabindex="-1" aria-labelledby="ContributionForm" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Añadir registro - Aportes</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <partial name="~/Areas/Hosts/Views/SocialStudy/Partials/_ContributionForm.cshtml" model="Model.ContributionFormViewModel" />
                    </div>
                </div>
            </div>
        </div>

        <partial name="~/Areas/Hosts/Views/SocialStudy/Partials/_ContributionList.cshtml" model="Model.ContributionListViewModel" />
    </div>

    <div class="card-header">
        <h5 class="card-title mb-0">4.2. Calculo ingreso según línea de pobreza</h5>
    </div>

    <div class="card-body">
        <partial name="~/Areas/Hosts/Views/SocialStudy/Partials/_IncomeCalculationForm.cshtml" model="Model.IncomeCalculationFormViewModel" />
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">5. Situación Habitacional</h5>
    </div>

    <div class="card-body">
        <partial name="~/Areas/Hosts/Views/SocialStudy/Partials/_HousingSituationForm.cshtml" model="Model.HousingSituationFormViewModel" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">6. Redes de Apoyo</h5>
            </div>

            <div class="card-body">
                <partial name="~/Areas/Hosts/Views/SocialStudy/Partials/_SupportServicesForm.cshtml" model="Model.SupportServicesFormViewModel" />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">7. Recomendaciones</h5>
            </div>

            <div class="card-body">
                <partial name="~/Areas/Hosts/Views/SocialStudy/Partials/_RecomendationForm.cshtml" model="Model.RecomendationFormViewModel" />
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#confirmationModal">
        Guardar información
    </button>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">¿Estás seguro/a?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>La información será guardada</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="saveSocialStudyBtn">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Sending Identifier Modal -->
<div class="modal fade" id="sendingInfoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Guardando información...</p>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/lib/snackbar/css/toastr.min.css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-serialize-object/js/jquery.serialize-object.min.js"></script>
    <script src="~/lib/snackbar/js/toastr.min.js"></script>
    <script type="text/javascript">
        var saveSocialStudyBtn = $("#saveSocialStudyBtn");
        var confirmationModal = $("#confirmationModal");
        var sendingInfoModal = $("#sendingInfoModal");
        var familyGroupForm = $("#familyGroupForm");
        var contributionForm = $("#contributionForm");

        saveSocialStudyBtn.on("click", function () {
            let mainDataForm = $("#mainDataForm");
            let minorPersonDataForm = $("#minorPersonDataForm");
            let parentDataForm = $("#parentDataForm");
            let companionDataForm = $("#companionDataForm");
            let incomeCalculationForm = $("#incomeCalculationForm");
            let housingSituationForm = $("#housingSituationForm");
            let supportServicesForm = $("#supportServicesForm");
            let recomendationForm = $("#recomendationForm");
            let saveSocialStudyUrl = "@Url.Action("Save", "SocialStudy", new { area = "Hosts" })";

            // FamilyGroupRecords
            let familyGroupData = $('#familyGroupListTable tr:has(td)').map(function (i, v) {
                var $td = $('td', this);
                return {
                    fullName: $td.eq(0).text(),
                    relationship: $td.eq(1).text(),
                    age: $td.eq(2).text(),
                    maritalStatus: $td.eq(3).text(),
                    scholarship: $td.eq(4).text(),
                    ocupation: $td.eq(5).text(),
                    monthlyGrossIncome: $td.eq(6).text()
                }
            }).get();

            // ContributionRecords
            let contributionData = $('#contributionListTable tr:has(td)').map(function (i, v) {
                var $td = $('td', this);
                return {
                    fullName: $td.eq(0).text(),
                    relationship: $td.eq(1).text(),
                    ocupation: $td.eq(2).text(),
                    monthlyContribution: $td.eq(3).text()
                }
            }).get();

            confirmationModal.modal("hide");

            // Validations
            if (!minorPersonDataForm.valid() ||
                !parentDataForm.valid() ||
                !companionDataForm.valid() ||
                !incomeCalculationForm.valid() ||
                !housingSituationForm.valid() ||
                !supportServicesForm.valid() ||
                !recomendationForm.valid()) {
                toastr.error('Campos requeridos se encuentran actualmente con errores de validación. Por favor, revisa el formulario', '¡Atención!');

                return;
            }

            // Super obj
            let socialStudyFullObj = {
                hostId: mainDataForm.find('input[name=HostId]').val(),
                socialStudyId: mainDataForm.find('input[name=SocialStudyId]').val(),
                MinorPersonDataFormViewModel: minorPersonDataForm.serializeObject(),
                ParentDataFormViewModel: parentDataForm.serializeObject(),
                CompanionDataFormViewModel: companionDataForm.serializeObject(),
                FamilyGroupListViewModel: familyGroupData,
                ContributionListViewModel: contributionData,
                IncomeCalculationFormViewModel: incomeCalculationForm.serializeObject(),
                HousingSituationFormViewModel: housingSituationForm.serializeObject(),
                SupportServicesFormViewModel: supportServicesForm.serializeObject(),
                RecomendationFormViewModel: recomendationForm.serializeObject()
            }

            socialStudyFullObj.HousingSituationFormViewModel.BasicServices = housingSituationForm.find("select[name=BasicServices]").val()

            sendingInfoModal.modal("show");

            // Call to Save Social Study action
            $.post(saveSocialStudyUrl, socialStudyFullObj, function (data) {
                location.href = data.redirectUrl
            })
                .done(function () {

                })
                .fail(function () {
                    sendingInfoModal.modal("hide");
                    toastr.error('Un error ha ocurrido mientras se procesaba la información. Por favor vuelve a intentarlo. Si el problema persiste, contactar al encargado', '¡Atención!');
                })
                .always(function () {

                });
        });

        familyGroupForm.submit(function (e) {
            e.preventDefault();

            if (!familyGroupForm.valid()) return;

            let familyGroupListTable = $("#familyGroupListTable");
            let familyGroupFormModal = $("#familyGroupFormModal");

            let fullName = $(this).find('input[name=FullName]').val();
            let relationship = $(this).find('input[name=Relationship]').val();
            let age = $(this).find('input[name=Age]').val();
            let maritalStatus = $(this).find('input[name=MaritalStatus]').val();
            let scholarship = $(this).find('input[name=Scholarship]').val();
            let ocupation = $(this).find('input[name=Ocupation]').val();
            let monthlyGrossIncome = $(this).find('input[name=MonthlyGrossIncome]').val();

            familyGroupListTable.find("tbody").append(`
                                                    <tr>
                                                        <td>${fullName}</td>
                                                        <td>${relationship}</td>
                                                        <td>${age}</td>
                                                        <td>${maritalStatus}</td>
                                                        <td>${scholarship}</td>
                                                        <td>${ocupation}</td>
                                                        <td>${monthlyGrossIncome}</td>
                                                        <td class="text-end"><button class="btn btn-danger" name="delete-row">X</button></td>
                                                    </tr>`);

            familyGroupFormModal.modal("hide");
            familyGroupForm[0].reset();
        });

        contributionForm.submit(function (e) {
            e.preventDefault();

            if (!contributionForm.valid()) return;

            let contributionListTable = $("#contributionListTable");
            let contributionFormModal = $("#contributionFormModal");

            let fullName = $(this).find('input[name=FullName]').val();
            let relationship = $(this).find('input[name=Relationship]').val();
            let ocupation = $(this).find('input[name=Ocupation]').val();
            let monthlyContribution = $(this).find('input[name=MonthlyContribution]').val();

            contributionListTable.find("tbody").append(`
                                                    <tr>
                                                        <td>${fullName}</td>
                                                        <td>${relationship}</td>
                                                        <td>${ocupation}</td>
                                                        <td>${monthlyContribution}</td>
                                                        <td class="text-end"><button class="btn btn-danger" name="delete-row">X</button></td>
                                                    </tr>`);

            contributionFormModal.modal("hide");
            contributionForm[0].reset();
        });

        $("body").on("click", "button[name='delete-row']", function (e) {
            $(this).closest('tr').remove();
        })

        $("#minorPersonDataForm").find("input[name='DateOfBirth']").on('change', function () {
            var firstdate = new Date($(this).val());
            var today = new Date();
            var dayDiff = Math.ceil(today.getTime() - firstdate.getTime()) / (1000 * 60 * 60 * 24 * 365);
            var age = parseInt(dayDiff);

            $("#minorPersonDataForm").find("input[name='Age']").val(age);
        });

        $("#parentDataForm").find("input[name='DateOfBirth']").on('change', function () {
            var firstdate = new Date($(this).val());
            var today = new Date();
            var dayDiff = Math.ceil(today.getTime() - firstdate.getTime()) / (1000 * 60 * 60 * 24 * 365);
            var age = parseInt(dayDiff);

            $("#parentDataForm").find("input[name='Age']").val(age);
        });

        $("#companionDataForm").find("input[name='DateOfBirth']").on('change', function () {
            var firstdate = new Date($(this).val());
            var today = new Date();
            var dayDiff = Math.ceil(today.getTime() - firstdate.getTime()) / (1000 * 60 * 60 * 24 * 365);
            var age = parseInt(dayDiff);

            $("#companionDataForm").find("input[name='Age']").val(age);
        });

        $("#housingSituationForm").find("select[name=BasicServices] option").mousedown(function (e) {
            e.preventDefault();
            this.selected = !this.selected;
            return false;
        });
    </script>
}
